<h1 style="color: green;">Please log in</h1>

<form action="/sessions" method="POST">
  <p>
    <label for="email">Email:</label>
    <input type ="text" name="email" id="email"/>
  </p>

  <input type="submit" name="submit" />
</form>
