<h2>Reptiles</h2>


<h3>Add a New Reptile Here</h3>
<form action="/signup" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Age: <input type="integer" name="age"></p>
  <p>Species: <input type="text" name="species"></p>
  <p>Morph: <input type="text" name="morph"></p>
  <input class="btn btn-primary" type="submit">
</form>
