<p> Welcome, <%= @user.username %>
<h2> Posts </h2>

<% @posts.each do |post| %>
  <div>
    <%= post.user_id %>: <%= post.content %>
  </div>
<% end %>

<br>
</br>


<body>
  <div class="nav">
    <% if logged_in? %>
      <a href="/logout">Logout</a>
      <a href="/reptiles">All Reptiles</a>
      <a href="/reptiles/new">Enter A New Reptile</a>
      <a href="/posts/new">Create A New Post</a>
    <% end %>
  </div>
</body
